.CardList ul {
    max-width: 66%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-count: 3;


}

.CardList li {
    display: flex;
    flex-direction: column;
    text-align: center;
}