.Header .image {
    width: 200px;
    height: 200px;

}

.Header {
    border-bottom: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}